:root{
    --transition:all 1s ease;
}


body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    overflow: hidden;  
    margin: 0;
    padding: 0;
    text-align: center;
}

.fondo{
    /* para que ocupe todo el fondo */
    width: 100%;
    height: 100vh;
}
.fondo_video{
    height: 100vh;
}


.contenido {  
    /* Centrar elementos */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.contenido_titulo{
    font-size: 7.5rem;
    text-shadow: 0 0 3rem #ffd000;
    padding: 2rem;
    transition: var(--transition);
}
.contenido_titulo:hover{
    font-size: 8.2rem;
    text-shadow: 0 0 0 #000000;
    cursor: default;
}


.bottom{ 
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    font-size: 1.7rem;
    font-weight: 700;/* negrilla en la letra */
    text-decoration: none;
    color: #ffedbf;
    border: 5px solid #c17a20;;
    border-radius: 10px;
    transition: var(--transition);
    cursor: pointer;
}
.bottom:hover{
    transform: scale(1.2, 1.2);
    background-color: #ffedbf;
    border: 5px solid #AD4E28;
    color: #AD4E28;
}